# python packages needed
# openai
langchain
streamlit
# chainlit
pypdf2
python-dotenv
faiss-cpu
huggingface_hub
black
psycopg2
# for local llama
# sentence-transformers
# uvicorn
# ctransformers
# python-box
# ollama
# for accessing Google Gemini
google-generativeai
langchain-google-genai
langchain-anthropic
langchain_groq
langchain-community
langgraph
pypdf
# "langchain[docarray]"
pillow
beautifulsoup4




